---
Language:        Cpp
BasedOnStyle:  Google
Standard: Cpp11
IncludeBlocks:   Regroup
IncludeCategories:
  - Regex:           '^<.*\.(h|hpp)>'
    Priority:        1
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        3
DerivePointerAlignment: false
QualifierAlignment: Left
PointerAlignment: Right
...
