# Calling workflow for running planned style tests
name: Run planned testing
on:
  # Note: use pull_request: for localized testing only
  pull_request:
   paths:
     - '.github/workflows/planned_testing.yml'
     - '.github/workflows/planned_testing_caller.yml'
  #  branches:
  #    - main
  schedule:
    # Run Mon-Fri at 7pm
    - cron: '00 19 * * 1-5'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  call_planned:
    # This makes the diagram too big if we post much here so S_ for scheduled.
    name: S_
    if: github.repository == 'uxlfoundation/oneapi-construction-kit' || github.event_name != 'schedule'
    uses: ./.github/workflows/planned_testing.yml
    with:
      #target_list: '[ "host_x86_64_linux",
      #                "host_aarch64_linux",
      #                "host_riscv64_linux",
      #                "host_i686_linux",
      #                "host_refsi_linux",
      #                "host_x86_64_windows" ]'
      target_list: '[ "host_x86_64_linux",
                      "host_aarch64_linux" ]'
      ock: true
      test_tornado: false
      test_sycl_cts: true
      test_opencl_cts: false
      # Have a pull request setting which can be used to test the flow as best as possible
      # in a reasonable time

      # The following can be used to download from a previous workflow run (change id)
      # download_ock_artefact: host_x86_64_linux=12915462445;host_aarch64_linux=12915462445
      # download_dpcpp_artefact: host_x86_64_linux=12915462445;host_aarch64_linux=12915462445
      # download_sycl_cts_artefact: host_x86_64_linux=12915462445;host_aarch64_linux=12915462445      
      pull_request: ${{ github.event_name == 'pull_request' }}
