# Calling workflow for running PR style tests
name: Run ock tests for PR style testing
on:
  pull_request:
    paths:
      - 'source/**'
      - 'clik/**'
      - 'modules/**'
      - 'examples/**'
      - 'cmake/**'
      - 'hal/**'
      - '.github/actions/do_build_ock/**'
      - '.github/actions/setup_build/**'
      - '.github/workflows/run_pr_tests.yml'
      - '.github/workflows/run_pr_tests_caller.yml'
      - 'CMakeLists.txt'
  schedule:
    # Run Mon-Fri at 7pm
    - cron: '00 19 * * 1-5'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run-with-pull:
    name: Call PR testing on pull request
    if: ${{ false && github.event_name == 'pull_request' }}    
    uses: ./.github/workflows/run_pr_tests.yml
    with:
      update_cache: false
      is_pull_request: true

  # Could have multiple here
  run-with-cron:
    name: Call PR testing on schedule
    if: ${{ github.event_name == 'schedule' }}    
    uses: ./.github/workflows/run_pr_tests.yml
    with:
      update_cache: true
      is_pull_request: false

# additional ones here for cron and/or push to main - also can be in different file.
